
.DesignGroup {
  position: relative;
  /*prevents safari to highlight when resizing/dragging*/
  user-select: none;
}

.DesignGroup:before,
.DesignGroup:after {
  content: " ";
  display: table;
}

.DesignGroup:after {
  clear: both;
}

.DesignGroup[data-dragging-over] > .DesignItem {
  z-index: 1;
}

.DesignGroup[data-dragging-over] > .DesignItem {
  opacity: 0.75;
}

.DesignGroup[data-dragging-over] > .DesignItem:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: 0px;
  bottom: -2px;
  outline: 2px dotted #e4e417;
}

.DesignGroup[data-dragging-over] > .DesignItem[data-dragging-over]:before {
  outline: 2px dotted #86ce1f;
}
