
.designComponentInteractive {
  cursor: move;
  min-width: 5px;
  min-height: 5px;
  box-shadow: 0px 0px 1px 0px #3068d8;
}

/*pseudo-element to prevent any dom element inside to a component*/
/*to be draggable (since images an links are draggable by default*/
/*we need to disable that behaviour)*/
.designComponentInteractive:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.designComponentInteractive[data-selected],
.designComponentInteractive[data-selected-preview],
.designComponentInteractive[data-dragging-placeholder] {
  z-index: 1;
}

.designComponentInteractive[data-selected] {
  /*is important to use outline because outline does not consume*/
  /*the width and height of element*/
  outline: 1px dashed rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.6);
}

.designComponentInteractive[data-selected-preview] {
  /*if the component is selected in preview use border instead of outline*/
  /*because Safari has issues when using outline in drag snapshots*/
  border: 1px dashed rgba(0, 0, 0, 0.8);
}

.designComponentInteractive[data-dragging-placeholder] {
  outline: 2px solid rgba(9, 110, 179, 0.6);
  color: inherit;
  opacity: 0.6;
}

.designComponentInteractive[data-dragging] {
  background-color: transparent;
  color: transparent;
  cursor: default;
  /*when dragging we move the item just a little back to be able to cancel*/
  /*the default snap back animation of the browser when dragging ends, we care about this*/
  /*because the animation causes that the "dragend" event is delayed until the animation is finished,*/
  /*which leads to feel the interaction somehow slow.*/
  /*the rule of thumb is: if the drag source node has changed its position while the dragging*/
  /*then the animation is not show*/
  transform: translate(-0.1px, -0.1px);
  outline: 0;
  opacity: 0;
}
