
.PropertiesEditor {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.PropertiesEditor-prop {
  display: block;
  margin-bottom: 0.5rem;
  min-width: 8rem;
}

.PropertiesEditor-prop-controls {
  display: inline-block;
}

.PropertiesEditor-prop > *,
.PropertiesEditor-prop-group > * {
  display: block;
  width: 100%;
  margin-top: 0.3rem;
}

.PropertiesEditor-prop-group {
  border: 2px solid #fff;
  display: block;
  width: 100%;
  margin-top: 0.6rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.PropertiesEditor-prop input {
  width: 100%;
}

input.PropertiesEditor-prop-special-value, .PropertiesEditor-prop-special-value {
  background-color: #1c97ea;
  color: #fff;
}
