@import '../../theme/common.scss';

.bindToDataEditorFieldContainer {
  margin: 0;
  padding: 0;
  list-style-type: none;
  user-select: none;
}

.bindToDataEditorFieldProperties,
.bindToDataEditorFieldIndexes {
  font-style: italic;
}

.bindToDataEditorFieldProperties.collapsed,
.bindToDataEditorFieldIndexes.collapsed {
  max-height: 0;
  overflow: hidden;
  transition: .15s;
}

.bindToDataEditorFieldHeader,
.bindToDataEditorFieldItem {
  cursor: pointer;
}

.bindToDataEditorFieldItem.selected {
  background: $primarySelectionBackgroundColor;
  color: $primarySelectionColor;
}

.bindToDataEditorFieldItem:hover,
.bindToDataEditorFieldItem.selected:hover {
  background: $primaryHoverBackgroundColor;
  color: $primarySelectionColor;
}

.bindToDataEditorFieldItemLabel.disabled,
.bindToDataEditorFieldItemLabel.disabled:hover {
  color: $tertiarySelectionColor;
}
