@import '../../theme/common.scss';

.componentEditor {
  display: flex;
  flex: 1;
  flex-direction: column;
  /*firefox needs min-height and min-width explicitly declared to allow descendants flex items to be scrollable (overflow)*/
  min-height: 0;
  min-width: 0;
  overflow: auto;
}

.componentEditorContent {
  color: $secondaryBackgroundColor;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.componentEditorTitle {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 0;
  word-break: break-all;
}

.componentEditorTitleIcon {
  vertical-align: middle;
}

.componentEditorSeparator {
  border: 1px solid $secondarySelectionColor;
  margin-bottom: 15px;
}

.componentEditorOptions {
  margin-bottom: 15px;
}
