
/*$primaryHoverBackgroundColor: #1C97EA;*/

.ComponentBarItem {
  display: block;
  font-size: 0.8rem;
  position: relative;
  padding: 1.3rem 0.7rem;
  text-align: center;
  width: 100%;
}

.ComponentBarItem-icon {
  display: block;
  font-size: 1.5rem;
  pointer-events: none;
}

.ComponentBarItem-name {
  display: block;
  font-size: 0.85rem;
  margin-top: 1rem;
  pointer-events: none;
}
