/*$secondaryColor = #c6c6c6*/
/*$primarySelectionBackgroundColor = #007ACC*/
/*$primaryHoverBackgroundColor = #1C97EA*/
/*$primarySelectionColor = #FFFFFF*/

.resizer {
  width: 11px;
  display: flex;
  position: relative;
  margin: 0 -5px;
}

.resizer-line {
  background: #000;
  opacity: .2;
  /*z-index: 1000;*/
  box-sizing: border-box;
  background-clip: padding-box;
  width: 11px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.resizer-horizontal {
  background: #000;
  opacity: .2;
  /*z-index: 1000;*/
  box-sizing: border-box;
  background-clip: padding-box;
  height: 15px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}


.resizer-horizontal:hover {
  transition: all 2s ease;
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.resizer-line:hover {
  transition: all 2s ease;
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}

.resizer-line:hover {
  transition: all 2s ease;
}

.resizer:hover .docker {
  display: block;
  opacity:1;
  /*transition:0s 1s;*/
  transition: 2s opacity;
}

.docker {
  opacity:0;
  font-size: 2rem;
  color: #c6c6c6;
  position: absolute;
  transition:0s 1s;
  cursor: pointer;
}

.docker.left {
  margin-left: -3rem;
}

.docker:hover {
  color: #007ACC;
}

.resizer.collapsed {
  min-width: 2.5rem;
  background-color: #c6c6c6;
  cursor: pointer;
}

.resizer.collapsed:hover {
  background-color: #1C97EA;
}

.pane-holder {
  color: #FFFFFF;
  flex: 0;
  padding-top: 1rem;
  writing-mode: vertical-lr;
}
