
.DesignContainer {
  position: relative;
  margin: 0;
  user-select: none;
}

.DesignContainer:before,
.DesignContainer:after {
  content: " ";
  display: table;
}

.DesignContainer:after {
  clear: both;
}

.DesignContainer [data-design-grid] {
  z-index: -1;
}

.DesignContainer[data-dragging] [data-design-grid] {
  z-index: 1;
}

.DesignContainer[data-dragging] [data-design-grid-border] {
  border-color: rgba(0, 0, 0, 0.2);
}
