@import '../../theme/common.scss';

.componentBarItem {
  display: block;
  font-size: 0.8rem;
  position: relative;
  padding: 1.3rem 0.7rem;
  text-align: center;
  width: 100%;
  /*prevents safari to highlight when resizing/dragging*/
  user-select: none;
}

.componentBarItem[data-over],
.componentBarItem[data-dragging-placeholder] {
  background-color: rgba(0, 0, 0, 0.3);
}

.componentBarItem[data-dragging-placeholder] {
  color: inherit;
  opacity: 0.7;
}

.componentBarItemIcon {
  display: block;
  font-size: 1.5rem;
  pointer-events: none;
}

.componentBarItemName {
  display: block;
  font-size: 0.85rem;
  margin-top: 1rem;
  pointer-events: none;
}
