
$primaryColor: #2f2f2f;

$primarySelectionBackgroundColor: #007ACC;
$primarySelectionColor: #fff;

$primaryBackgroundColor: rgb(85, 85, 85);
$primaryHoverBackgroundColor: #1C97EA;

$secondaryColor: #c6c6c6;
$secondaryBackgroundColor: #eee;
$secondaryHoverColor: #e2e2e2;
$secondarySelectionColor: #444;

$tertiaryColor: #000;
$tertiarySelectionColor: #9297a5;
