
@import './common.scss';
@import './controls.scss';
@import './resizer.scss';
@import '~draft-js/dist/Draft.css';

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  box-sizing: border-box;
  color: $primaryColor;
  font-family: proxima-nova, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body.resizing-control-y {
  cursor: row-resize;
}

body.resizing-control-y .cloak {
  display: block;
}

.cloak {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  min-width: 0;
  width: 100%;
}

.block {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
}
