@import '../../../theme/common.scss';

.contentEditorRoot {
  background: $primarySelectionColor;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 15px;
}

.contentEditorInput {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  line-height: 1.6;
  margin-top: 10px;
}

.contentEditorInput :global(.public-DraftEditorPlaceholder-root),
.contentEditorInput :global(.public-DraftEditor-content) {
  margin: 0 -15px -15px;
  padding: 15px;
}

.contentEditorInput :global(.public-DraftEditor-content) {
  min-height: 100px;
}

.contentEditorHidePlaceholder :global(.public-DraftEditorPlaceholder-root) {
  display: none;
}

.contentEditorInput :global(.public-DraftStyleDefault-pre) {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.contentEditorButtonsContainer {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}
