
.gridCol {
  display: inline-block;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  height: 100%;
  /*let the browser re-paint the col borders as fast as possible*/
  /*we need this because there were delays in re-painting*/
  /*when a component is removed and the properties editor is open*/
  /* (SEEMS LIKE WE DON'T NEED THIS ANYMORE, IN FACT.. IT WAS MAKING DRAGGING SLOW */
  /* BECAUSE IT WAS CONSUMING MORE MEMORY CAUSE MORE LAYERS WERE DRAW */
  /* BECAUSE OF THE 3D TRANSFORM) */
  /*transform: translateZ(0);*/
}
