
.Canvas {
  position: relative;
}

/*we are using a pseudo-element for the border of the canvas (previously we were using "outline")*/
/*because firefox has issues when some absolute node overflows the limits*/
/*of a container that is using "outline" (the container grows with the absolute node)*/
.Canvas:before {
  display: block;
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  z-index: -1;
  border: 1px dashed rgba(0, 0, 0, 0.25);
}

.Canvas[data-dragging]:before {
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px dotted #dede26;
}

.Canvas[data-can-drop]:before {
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px dotted #a8e64f;
}

.Canvas [data-design-grid] {
  z-index: -1;
}

.Canvas[data-grid-lines-remarked] [data-design-grid] {
  z-index: 1;
}

.Canvas[data-grid-lines-remarked] [data-design-grid-border] {
  border-color: rgba(0, 0, 0, 0.2);
}
