
.DesignContainer {
  position: relative;
  margin: 0;
  user-select: none;
}

.DesignContainer:before,
.DesignContainer:after {
  content: " ";
  display: table;
}

.DesignContainer:after {
  clear: both;
}
