
.DesignItem {
  position: relative;
  min-height: 1px;
  /* prevents safari to highlight when resizing/dragging */
  user-select: none;
}

.DesignItem {
  float: left;
}

.DesignItem[data-selected] {
  z-index: 2;
}
