
.selection {
  display: block;
  position: absolute;
  top: -4px;
  bottom: -4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
}

.selectionTop {
  border-top: 2px dashed;
}

.selectionBottom {
  border-bottom: 2px dashed;
}

.selectionLeft {
  border-left: 2px dashed;
  width: 2px;
  z-index: 2;
}

.selectionRight {
  border-right: 2px dashed;
  width: 2px;
  z-index: 2;
}

.selection:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.selection[data-resizing] {
  z-index: 2;
}
