
.Selection {
  display: block;
  position: absolute;
  top: -4px;
  bottom: -4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
}

.Selection-top {
  border-top: 2px dashed;
}

.Selection-bottom {
  border-bottom: 2px dashed;
}

.Selection-left {
  border-left: 2px dashed;
  width: 2px;
  z-index: 2;
}

.Selection-right {
  border-right: 2px dashed;
  width: 2px;
  z-index: 2;
}

.Selection:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.Selection[data-resizing] {
  z-index: 2;
}
