
.container {
  display: inline-block;
}

.swatch {
  position: relative;
  padding: 2px;
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  display: inline-block;
  cursor: pointer;
  margin-bottom: 1px;
}

.color {
  position: relative;
  width: 20px;
  height: 14px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.68);
  color: #000;
  font-size: 7px;
  font-weight: bold;
  text-align: center;
}

.remove {
  position: absolute;
  right: -7px;
  top: -5px;
  color: #000;
  display: inline-block;
  font-size: 8px;
  font-weight: bold;
  line-height: 1;
  z-index: 2;
}

.removeButton {
  display: inline-block;
  background-color: #fff;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.popover {
  position: absolute;
  z-index: 2;
}

.cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
