@import '../../theme/common.scss';

.commandBar {
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}
