
.ContentEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 15px;
}

.ContentEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.ContentEditor-editor .public-DraftEditorPlaceholder-root,
.ContentEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.ContentEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.ContentEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.ContentEditor-editor .ContentEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.ContentEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.ContentEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.ContentEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 4px;
  display: inline-block;
}

.ContentEditor-styleButton:hover {
  color: #1d1b1b;
}

.ContentEditor-activeButton,
.ContentEditor-activeButton:hover {
  color: #5890ff;
}
