
.DesignComponent {
  display: inline-block;
  position: relative;
  cursor: move;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*pseudo-element to prevent any dom element inside to a component*/
/*to be draggable (since images an links are draggable by default*/
/*we need to disable that behaviour)*/
.DesignComponent:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.DesignComponent[data-selected] {
  /*is important to use outline because outline does not consume*/
  /*the width and height of element*/
  outline: 1px dashed rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.DesignComponent[data-dragging],
.DesignComponent[data-dragging-placeholder] {
  outline: 0;
  z-index: 1;
}

.DesignComponent[data-dragging-placeholder] {
  outline: 2px solid rgba(9, 110, 179, 0.6);
  color: inherit;
  opacity: 0.5;
}

.DesignComponent[data-dragging] {
  opacity: 0;
}
