
.PropertiesEditor {
  display: flex;
  flex: 1;
  flex-direction: column;
  /*firefox needs min-height and min-width explicitly declared to allow descendants flex items to be scrollable (overflow)*/
  min-height: 0;
  min-width: 0;
  overflow: auto;
}

.PropertiesEditor-content {
  color: #eee;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
}

.PropertiesEditor-title {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 0;
}

.PropertiesEditor-separator {
  border: 1px solid #444;
  margin-bottom: 15px;
}

.PropertiesEditor-prop {
  display: block;
  margin: 0.5rem 1rem;
  min-width: 8rem;
}

.PropertiesEditor-prop > * {
  display: block;
  width: 100%;
  margin-top: 0.3rem;
}
