@import '../../theme/common.scss';

.commandButton {
  display: inline-block;
  position: relative;
}

.commandButtonTooltip {
  position: absolute;
  left: 50%;
  z-index: 5;
  background-color: $tertiaryColor;
  color: $primarySelectionColor;
  text-align: center;
  padding: 0.4rem 0.4rem;
  border-radius: 0.4rem;
  display: none;
  margin-left: -50%;
}

.commandButtonTooltip:after {
  content: " ";
  position: absolute;
  left: 4px;
  border-width: 0.4rem;
  border-style: solid;
}

.commandButtonTooltipTop {
  margin-bottom: 0.7rem;
  bottom: 100%;
}

.commandButtonTooltipTop:after {
  top: 100%;
  margin-top: -1px;
  border-color: $tertiaryColor transparent transparent transparent;
}

.commandButtonTooltipBottom {
  margin-top: 0.7rem;
  top: 100%;
}

.commandButtonTooltipBottom:after {
  bottom: 100%;
  margin-top: -1px;
  border-color: transparent transparent $tertiaryColor transparent;
}

.commandButton:hover .commandButtonTooltip {
  display: inline-block;
}
