
.CommandButton {
  display: inline-block;
  position: relative;
}

.CommandButton-tooltip {
  position: absolute;
  left: 50%;
  z-index: 5;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 0.4rem 0.4rem;
  border-radius: 0.4rem;
  display: none;
  margin-left: -50%;
}

.CommandButton-tooltip:after {
  content: " ";
  position: absolute;
  left: 4px;
  border-width: 0.4rem;
  border-style: solid;
}

.CommandButton-tooltip-top {
  margin-bottom: 0.7rem;
  bottom: 100%;
}

.CommandButton-tooltip-top:after {
  top: 100%;
  margin-top: -1px;
  border-color: black transparent transparent transparent;
}

.CommandButton-tooltip-bottom {
  margin-top: 0.7rem;
  top: 100%;
}

.CommandButton-tooltip-bottom:after {
  bottom: 100%;
  margin-top: -1px;
  border-color: transparent transparent black transparent;
}

.CommandButton:hover .CommandButton-tooltip {
  display: inline-block;
}
